:root {
    /* Color scheme for this project */
    --bodybackgroundcolor: #D5BDAF;
    --primarybackgroundcolor: #D6CCC2;
    --primarycolor1: #0E1208;
    --secondarycolor: #312416;

    /* Google font for this project */
    --Text-Heading1: "Oswald";
    --SubText-Heading: "Montserrat";
    --Paragraph-Text: "Exo 2";
}

@media screen and (min-width: 32rem) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: left;
    }

    #form {
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -75rem;
        margin-top: -10px;
    }

    #form input[type="search"] {
        border-radius: 6px;
        padding: 5px;
        background-color: whitesmoke;
        color: #0E1208;
        font-family: "Exo 2";
        font-size: 15px;
    }

    #form button {
        color: #0E1208;
        border: none;
        background-color: whitesmoke;
        padding: 5px;
        font-family: "Exo 2";
    }

    #menu {
        /* margin-top: 50px; */
        display: none;
    }

    nav a {
        display: block;
        margin-top: 50px;
        border-radius: 0px;
        background-color: whitesmoke;
        text-align: center;
        border-bottom: 1px solid var(--primarybackgroundcolor);
        border-top: 1px solid var(--primarybackgroundcolor);
    }

    .heroImage {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        border-radius: 5px;
        background-color: var(--primarybackgroundcolor);
    }

    .heroAnimation1 {
        display: block;
    }

    .heroAnimation2 {
        display: block;
    }

    .heroAnimation3 {
        display: block;
    }

    .heroAnimation4 {
        display: block;
    }

    .heroAnimation5 {
        display: block;
    }

    .heroWelcome {
        margin-top: 100px;
        padding: 10px;
    }

    .callToAction {
        /* height: 30px; */
        display: flex;
        justify-content: center;
        text-align: left;

    }

    h4 {
        font-size: 20px;
        flex: 0.60 0.60 100px;
        margin-top: 20px;
    }

    button {
        margin-top: 17px;
        box-shadow: 1px 1px 7px var(--primarybackgroundcolor);
        border-radius: 5px;
    }

    section {
        text-align: center;
        max-width: 960px;
        width: 80%;
    }

    p {
        padding: 20px;
        font-size: 30px;
    }

    ul {
        text-align: left;
        display: flex;
    }

    .footerDiv {
        display: grid;
        text-align: left;
    }

    .div2 {
        margin-top: 32px;
    }

    ul p {
        padding: 20px;
        margin-left: -20px;
    }


    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Discover Styling>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


    .mainContainer {
        display: grid;
        grid-template: 1fr / 400px 1fr;
        margin: 0 auto;
        gap: 0;
        grid-gap: 0;
        margin-top: 20px;
    }

    .sidebar {
        grid-column: 1;
        /* background-color: var(--secondarycolor); */
        /* padding: 20px; */
        color: var(--primarybackgroundcolor);
        display: block;
    }

    .main-content {
        grid-column: 2;
        padding: 5px;
        width: 100%;
    }

    .sidebar p {
        /* color: var(--primarybackgroundcolor); */
        font-size: 12px;
    }

    .sideDiv1 {
        padding: 0;
        margin: 0;


    }

    .sideDiv2 {
        margin-top: 8px;
    }

    .sideDiv1 h2,
    a {
        font-size: 15px;

    }

    .sideDiv1 h3 {
        font-size: 10px;
    }

    .sideDiv1 h3,
    p {
        margin-top: -10px;
        margin-bottom: -10px;

    }

    .sideDiv4 {
        margin-top: 30px;
        background-color: rgba(123, 98, 98, 0.3);
        box-shadow: 1px 1px 5px black;
        border-radius: 10px;

    }

    .sideDiv1 h2 {
        margin-bottom: 20px;
    }

    .sideDiv2 img {
        width: 100%;
        height: 100%;
    }

    .sideDiv2 h2 {
        font-size: 15px;
    }

    .sideDiv3 iframe {
        margin-top: 20px;
        width: 100%;
        height: 300px;
    }

    .main-content {
        width: 100%;
        /* height: auto; */
    }

    .hover1:hover {
        box-shadow: 0 0 50px #333;

    }

    .hover2:hover {
        border-radius: 15px 150px;
    }

    .hover3:hover {
        opacity: .5;
    }

    .hover4:hover {
        filter: blur(4px);
    }

    .hover5:hover {
        filter: blur(1px) grayscale(50%);
    }

    .hover6:hover {
        width: 100%;
        height: 75px;
        object-fit: cover;
    }

    .hover7:hover {
        filter: contrast(50%);
    }

    .hover8:hover {
        filter: saturate(50%);
    }

    .hover9:hover {
        mix-blend-mode: difference;
    }

    .hover10:hover {
        mix-blend-mode: hard-light;
    }


    /* -------------------------------------------------------------Thank you page styling----------------------------------------------------------------------- */

    .thankyou {
        padding: 50px;
    }

    .p {
        padding: 0%;
        font-size: 30px;
    }

    .p::before {
        content: "🎉🥂";
    }

    .p::after {
        content: "🎉🥂";
    }

    /* --------------------------------------------------------------------------------------Form Styling-------------------------------------------------------- */
    #main-form {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 30px;
    }


    .form legend {
        font-size: 30px;
    }


    .form input:required {
        border-bottom: solid 3px var(--primarycolor1);
    }

    .form input:required:valid {
        border-left: solid 5px rgba(91, 192, 114, 0.725);
    }


    /* ----------------------------------------------The Table Styling--------------------------------------------------- */

    #formtablediv {
        padding: initial;
    }

    #formtablediv h1 {
        font-size: 30px;
    }

    #formtablediv table {
        margin-top: initial;
    }

    caption {
        padding: 10px;
        font-size: .85rem;
    }

    /* -----------------------------------------------------Directory Styling------------------------------------------------------------------ */
    .displayMenu {
        margin: 1rem auto;

    }

    .list {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* margin: 0; */
        padding: 0.25rem;
        text-align: left;
        border-bottom: 2px solid var(--secondarycolor);
        box-shadow: 1px 1px 5px var(--primarycolor1);
        width: 100%;

    }

    .list section>* {
        margin: 1rem 1rem;
    }

    .list h5 {
        font-size: 15px;
    }

    .list h6,
    a,
    i {
        font-size: 15px;
    }

    .list h5::after{
        content: ":";
    }


}