@media screen and (min-width: 32rem) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: left;
    }

    form {
        display: block;
        position: absolute;
        top: 0;
        right: 1rem;
        margin-top: -12px;
    }

    #menu {
        /* margin-top: 50px; */
        display: none;
    }

    nav a {
        display: block;
        margin-top: 50px;
        border-radius: 0px;
        background-color: whitesmoke;
        text-align: center;
        border-bottom: 1px solid var(--primarybackgroundcolor);
        border-top: 1px solid var(--primarybackgroundcolor);
    }

    .heroImage {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        border-radius: 5px;
        background-color: var(--primarybackgroundcolor);
    }

    .heroAnimation1 {
        display: block;
    }

    .heroAnimation2 {
        display: block;
    }

    .heroAnimation3 {
        display: block;
    }

    .heroAnimation4 {
        display: block;
    }

    .heroAnimation5 {
        display: block;
    }

    .heroWelcome {
        margin-top: 100px;
        padding: 10px;
    }

    .callToAction {
        /* height: 30px; */
        display: flex;
        justify-content: center;
        text-align: left;

    }

    h4 {
        font-size: 20px;
        flex: 0.60 0.60 100px;
        margin-top: 20px;
    }

    button {
        margin-top: 17px;
        box-shadow: 1px 1px 7px var(--primarybackgroundcolor);
        border-radius: 5px;
    }

    section {
        text-align: center;
        max-width: 960px;
        width: 80%;
    }

    p {
        padding: 20px;
        font-size: 30px;
    }

    ul {
        text-align: left;
        display: flex;
    }

    .footerDiv {
        display: grid;
        text-align: left;
    }

    .div2 {
        margin-top: 32px;
    }
}