@media screen and (min-width: 900px) {

    .header {
        width: 50%;
        display: flex;
    }



    .header img {
        box-shadow: 1px 1px 10px;
        margin-left: 30px;
    }

    header span {
        margin-top: 50px;
        font-size: 35px;
    }


    nav {
        display: flex;
    }

    nav a {
        flex: 1 1 100px;
        display: block;
    }

    nav .link1 {
        padding: 15px;

    }

    main h1 {
        text-align: left;
    }

    #card-section {
        display: grid;
        grid-template: 1fr / 2fr 1fr;
        column-gap: 10px;
        margin: 5px 0;
        margin-bottom: 100px;
    }


    .card {
        width: 100%;
        box-shadow: 1px 1px 10px black;
    }

    #menu {
        display: none;
    }

    #darkMode {
        color: #CCD5AE;
    }

    #darkMode::after {
        content: "Toggle for Dark Mode";
        font-family: "Antonio";
        margin-top: 3px;
        padding: 2px;
        text-align: center;
    }

    .heroImage span {
        top: 50px;
        left: 50px;
        width: 30%;
        padding: 50px;
        border-radius: 20px;
        text-align: center;
        font-size: 40px;
        color: var(--background_color5);
        font-family: "Antonio";
        font-style: italic;
        border: none;
        font-weight: normal;
        box-shadow: 1px 1px 10px #53311D;

    }


    .googleMap h3 {
        font-size: 25px;
    }

    .googleMap iframe {
        height: 450px;
    }

    .footer {
        font-size: 25px;
    }

}